<mat-accordion>
  <mat-expansion-panel *ngFor="let detail of details">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ detail.name }} </mat-panel-title>
      <mat-panel-description>
        <span class="overall-score"
          >Overall Score: {{ detail.overallScore }}</span
        >
        <span class="daily-score">Daily Score: {{ detail.dailyScore }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-player-score-table
      [tableData]="detail.playDetails"></app-player-score-table>
  </mat-expansion-panel>
</mat-accordion>
