<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Leaderboard">
            <app-leaderboard></app-leaderboard>
          </mat-tab>
          <mat-tab label="Sunday">Sunday Scores Goes Here</mat-tab>
          <mat-tab label="Saturday">Saturday Scores Goes Here</mat-tab>
          <mat-tab label="Friday">Friday Scores Goes Here</mat-tab>
          <mat-tab label="Thursday">Thursday Scores Goes Here</mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
