<table mat-table [dataSource]="leaderboard">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let score">{{ score.name }}</td>
  </ng-container>

  <!-- Thursday Score Column -->
  <ng-container matColumnDef="thursday">
    <th mat-header-cell *matHeaderCellDef>Thursday</th>
    <td mat-cell *matCellDef="let score">{{ score.thursdayScore }}</td>
  </ng-container>

  <!-- Friday Score Column -->
  <ng-container matColumnDef="friday">
    <th mat-header-cell *matHeaderCellDef>Friday</th>
    <td mat-cell *matCellDef="let score">{{ score.fridayScore }}</td>
  </ng-container>

  <!-- Saturday Score Column -->
  <ng-container matColumnDef="saturday">
    <th mat-header-cell *matHeaderCellDef>Saturday</th>
    <td mat-cell *matCellDef="let score">{{ score.saturdayScore }}</td>
  </ng-container>

  <!-- Sunday Score Column -->
  <ng-container matColumnDef="sunday">
    <th mat-header-cell *matHeaderCellDef>Sunday</th>
    <td mat-cell *matCellDef="let score">{{ score.sundayScore }}</td>
  </ng-container>

  <!-- Sunday Score Column -->
  <ng-container matColumnDef="overall">
    <th mat-header-cell *matHeaderCellDef>Overall</th>
    <td mat-cell *matCellDef="let score">{{ score.overallScore }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
