<div class="row">
  <div class="col-xl-4 offset-xl-4 my-score-row">
    <h2>Overall Score: {{ myData.overallScore }}</h2>
    <h4>Today's Score: {{ myData.dailyScore }}</h4>
  </div>
</div>
<div class="row">
  <div class="offset-xl-4 col-xl-4 dialog-button-row">
    <button mat-raised-button color="primary" (click)="openGuessFormDialog()">
      Submit Guesses
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xl-4 offset-xl-4 my-table-row">
    <app-player-score-table
      [tableData]="myData.playDetails"></app-player-score-table>
  </div>
</div>
<div class="row">
  <div class="col-xl-6 offset-xl-3 other-player-row">
    <app-player-details [details]="otherPlayerDetails"></app-player-details>
  </div>
</div>
