.row {
  width: 100%;
}

.my-score-row {
  text-align: center;
  margin-top: 1%;

  h2 {
    margin: 0;
  }
}

.dialog-button-row {
  text-align: center;
}

.dialog-button-row .other-player-row {
  margin-top: 1%;
}
