@use '@angular/material' as mat;
@include mat.core();

@import 'assets/sass/colors.scss';

$nutt-primary: mat.define-palette($primary);
$nutt-accent: mat.define-palette($accent);

$nutt-theme: mat.define-light-theme((
  color: (
    primary: $nutt-primary,
    accent: $nutt-accent
  )
));

@include mat.all-component-themes($nutt-theme);

@include mat.core-theme($nutt-theme);

@include mat.button-theme($nutt-theme);
