$light-gray:	#717171;
$off-white-gray: #f1f1f1;
$border-gray: #c9c9c9;

$primary: (
  50 : #eaf2ea,
  100 : #cadfca,
  200 : #a7caa7,
  300 : #83b484,
  400 : #69a469,
  500 : #4e944f,
  600 : #478c48,
  700 : #3d813f,
  800 : #357736,
  900 : #256526,
  A100 : #a8ffaa,
  A200 : #75ff78,
  A400 : #42ff45,
  A700 : #29ff2c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$accent: (
  50 : #fffaed,
  100 : #fff2d1,
  200 : #ffe9b2,
  300 : #ffe093,
  400 : #ffda7c,
  500 : #ffd365,
  600 : #ffce5d,
  700 : #ffc853,
  800 : #ffc249,
  900 : #ffb737,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff4e1,
  A700 : #ffeac8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
